img {
    width: 200px;
    object-fit: contain;
    margin: .1rem 0;
}

.img-container {
  position: relative;
}

.titulo-img {
  font-size: 10px;
  text-align: left;
  background: #000000;
  bottom: .4rem;
  color: #FFFFFF;
  left: 0;
  opacity: 0.5;
  position: absolute;
  padding: 5px;
}