img {
    width: 200px;
    object-fit: contain;
    margin: .1rem 0;
}

.img-container {
  position: relative;
}

.titulo-img {
  position: absolute;
  font-size: .5rem;
  text-align: left;
  background: #000000;
  bottom: -.3rem;
  color: #FFFFFF;
  left: 0;
  opacity: 0.5;
  padding: .2rem;
}