.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
a{
  color: #ffffff;
  text-decoration: none;
}
img {
  width: 200px;
  object-fit: contain;
  margin: 10px 0;
}

input[type=search] {
  font-size: 15px;
  width: 200px;
  padding: 10px;
  text-align: center;
}
